


<div class="row">
    @if(isLoader == true){
        <div class="spinner-border"></div>
    }@else{
        @for(item of designationList; track $index){
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                    <h4 class="card-title">{{item.designation}}</h4>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        }
    }   
</div>